{% extends 'base.html.twig' %}

{% block title %}Hello AccueilContollerController!{% endblock %}

{% block body %}
    <h2 class="mt-5">Les Annonces</h2>
    <div class="jumbotron">
        <h1 class="display-3">SAMA DËKUWAYY</h1>
        <p class="lead">Bienvenu dans notre site d'annonces de logement.</p>
        <hr class="my-4">
        <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
        <p class="lead">
        <a class="btn btn-primary btn-lg" href="#" role="button">En savoir plus</a>
        </p>
    </div>

    <h2 class="my-5">Les dernieres annonces...</h2>
    <div class="row">
        {% for anounce in anounces %}

        <div class="col-md-3">
            <div class="card">
                <img class="card-img-top" src="{{anounce.coverImage}}" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title"> 
                        <a href=""> {{ anounce.title }} </a>
                    </h5>
                    <p class="card-text"> {{ anounce.desription }} </p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}
