{% extends 'base.html.twig' %}

{% block title %}Edit Anounce{% endblock %}

{% block body %}
    <h1>MOdifier Annonce</h1>

    {{ include('admin/_form.html.twig', {'button_label': 'Modifier'}) }}

    <a href="{{ path('admin_anounce_index') }}" class="btn btn-success">Retour à la liste des annonces</a>
{% endblock %}
