{% extends 'base.html.twig' %}

{% block title %}New Anounce{% endblock %}

{% block body %}
    <h1>Create new Anounce</h1>

    {{ include('admin/_form.html.twig') }}

    <a href="{{ path('anounce_index') }}" class="btn btn-success">Retour à la liste des annonces</a>
{% endblock %}
